.encabezado{
    padding: 5px;
}
.tituloProc, .procImg {
    padding: 25px;
}
.proc{
    margin: 15px;
    padding: 25px;
}
.limenu{
    padding: 15px;
}
.buttongrad{
    padding: 10px;
    border-radius: 1cm;
    transition:all 200ms
}
h1{
    padding: 5px;
}
.principal{
    padding: 20px, 5px;
    margin: 20px;
}
.imgSecciones{
    padding-left: 100px;
    margin: 20px;
}