.titulo {
  color: #2D4859;
  background-color: #ffffff;
}

.proc {
  background-color: #ceecff;
}

h1, h2, h3, a, li {
  color: #2D4859;
}

h1 {
  font-size: normal;
}

p {
  color: #79858C;
  font-size: small;
}

.buttongrad {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#F2F2F2), to(#c3e5fa));
  background-image: linear-gradient(to bottom, #F2F2F2, #c3e5fa);
}

.buttongrad:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#067aff5b), to(#02d9ffe1));
  background-image: linear-gradient(to bottom, #067aff5b, #02d9ffe1);
}

#formulario {
  color: #79858C;
}

.pie {
  background-color: #2D4859;
}

.apie {
  color: #F2F2F2;
  font-size: medium;
  text-decoration: none;
}

.aPie:hover {
  color: #02eeffe3;
}

a {
  text-decoration: none;
}

li {
  font-size: small;
}

.limenu {
  font-size: medium;
  list-style: none;
}

.img1 {
  -webkit-transition: all 500ms;
  transition: all 500ms;
  opacity: 100%;
  border-radius: 1cm;
}

.img1:hover {
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
  opacity: 70%;
}

.imgPadding {
  padding: 15px;
  margin: 20px;
}

.pie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

.proc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.encabezado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.barra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tituloProc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.procImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.cuerpo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.centrar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.encabezado {
  padding: 5px;
}

.tituloProc, .procImg {
  padding: 25px;
}

.proc {
  margin: 15px;
  padding: 25px;
}

.limenu {
  padding: 15px;
}

.buttongrad {
  padding: 10px;
  border-radius: 1cm;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

h1 {
  padding: 5px;
}

.principal {
  padding: 20px, 5px;
  margin: 20px;
}

.imgSecciones {
  padding-left: 100px;
  margin: 20px;
}

.intro {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

input {
  -webkit-transition: 500;
  transition: 500;
}

input:focus {
  font-size: medium;
  width: 110%;
  height: auto;
}
/*# sourceMappingURL=style.css.map */